{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock["symbol"] }}</td>
                    <td class="text-start">{{ stock["name"] }}</td>
                    <td class="text-end">{{ stock["shares"] }}</td>
                    <td class="text-end">{{ stock["price"] }}</td>
                    <td class="text-end">{{ stock["total"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-end border-0 fw-bold" colspan="4">Cash</td>
                <td class="text-end border-0">{{ user["cash"] }}</td>
            </tr>
            <tr>
                <td class="text-end fw-bold border-0" colspan="4">TOTAL</td>
                <td class="text-end border-0">{{ user["total"] }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
