[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
check50 = "~=3.2.2"
style50 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
